:root {

    --nav-a-color: white;
    --padding: 20;
    --h1-color: darkblue;
    --border: 1px solid black;


}



nav {
    background-color: darkblue;
    padding: 10;
}

nav a {
    color: var(--nav-a-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--h1-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}