:root {

    --nav-a-color: white;
    --padding: 20;
    --h1-color: darkblue;
    --border: 1px solid black;


}

main {

    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ 0.2);
    padding: 1rem;
    background-color: bisque;
    color: blueviolet;
    text-align: center;
}

aside img {

    width: 200px;
    height: auto;
}

nav {
    background-color: darkblue;
    padding: 10;
}

nav a {
    color: var(--nav-a-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--h1-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {

    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}